<html>
  <head>
    <title>Todo App</title>
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
   <style>
    .list-class {
    padding-bottom: 10px;
    background: #cce5ff;
    margin: 5px;
  }
  body {
    background-color: lightblue;
  }
  a:link {
  text-decoration: none;
  color: red;
  }

  a:hover {
  color:rgb(59, 235, 15);
}


   </style>
  </head>
  <body>
    <div class="lists-wrapper">
    <p title="Catageory">Catageory List</p>
        <ul id="lists">
        {% for list in lists %}
        <li class="list-class">
          <a href="/lists/{{ list.id }}">
            {{ list.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="todos-wrapper">
      <h4>Catageory: {{ active_list.name }}</h4>
      <form id="form">
        <input type="text" id="description" name="description" />
        <label for="birthday">Birthday:</label>
        <input type="date" id="ddate" name="ddate">
        <input type="submit" value="Create" />
      </form>
      <div id="error" class="hidden">Something went wrong!</div>
      <ul id="todos">
        {% for todo in todos %}
        <li class="list-class">
          <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %} />
          {{ todo.description }}
          <button class="delete-button" data-id="{{ todo.id }}">&cross;</button>
         <p style="color:#4C4C4C;font-weight:bold;font-family:Calibri">Due Date ->{{todo.ddate}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    
    <script>
      const deleteBtns = document.querySelectorAll('.delete-button');
      for (let i = 0; i < deleteBtns.length; i++) {
        const btn = deleteBtns[i];
        btn.onclick = function(e) {
          const todoId = e.target.dataset['id'];
          fetch('/todos/' + todoId, {
            method: 'DELETE'
          })
          .then(function() {
            const item = e.target.parentElement;
            item.remove();
          })
        }
      }
      const checkboxes = document.querySelectorAll('.check-completed');
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function(e) {
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset['id'];
          fetch('/todos/' + todoId + '/set-completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': newCompleted
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function() {
            document.getElementById('error').className = 'hidden';
          })
          .catch(function() {
            document.getElementById('error').className = '';
          })
        }
      }
      const descInput = document.getElementById('description');
      const ddate = document.getElementById('ddate');
      document.getElementById('form').onsubmit = function(e) {
        e.preventDefault();
        const desc = descInput.value;
        descInput.value = '';
        const d = ddate.value;
        ddate.value = '';
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': desc,
            'ddate' : d,
            'list_id': {{ active_list.id }}
          }),
          headers: {
            'Content-Type': 'application/json',
          }
        })
        .then(response => response.json())
        .then(jsonResponse => {
          const li = document.createElement('li');
          const checkbox = document.createElement('input');
          checkbox.className = 'check-completed';
          checkbox.type = 'checkbox';
          checkbox.setAttribute('data-id', jsonResponse.id);
          li.appendChild(checkbox);

          const text = document.createTextNode(' ' + jsonResponse.description  +jsonResponse.ddate  );
          li.appendChild(text);
         

          const deleteBtn = document.createElement('button');
          deleteBtn.className = 'delete-button';
          deleteBtn.setAttribute('data-id', jsonResponse.id);
          deleteBtn.innerHTML = '&cross;';
          li.appendChild(deleteBtn);

          document.getElementById('todos').appendChild(li);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          console.error('Error occurred');
          document.getElementById('error').className = '';
        });
      }
    </script>
  </body>
</html>